.signup-wrapper a {
    width: 100%;
}

.login-wrapper {
    padding: 20px 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.login-inputs{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.login-inputs-items{
    display: flex;
}

.login-inputs-img {
    height: 60px;
    width: 70px;
    padding: 15px;
    background: #e8e8e8;
    box-sizing: border-box;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    border: 1px solid #d0d0d0;
}

.login-inputs-img img{
    width: 30px;
}

.login-logo {
    height: 80px;
    margin: 30px;
}

.login-inputs .login-inputs-items input{
    width: 340px;
    height: 60px;
    font-size: 17px;
    box-sizing: border-box;
    border: 1px solid #d0d0d0;
    padding: 10px;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    outline: none;
}

.login-input-sub {
    display: flex;
    align-content: stretch;
    justify-content: space-between;
    width: 400px;
    font-size: 14px;
}

.login-btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 40px;
}

.login-btns button {
    border: none;
    height: 50px;
    width: 400px;
    font-size: 17px;
    font-weight: bold;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.login-btn-signup {
    background-color: #B1B1B1;
}

.login-btn-login {
    background-color: #ED7C7C;
}

.login-sns-naver, .login-sns-kakao{
    width: 50px;
    height: 50px;
    background-color: aliceblue;
    border-radius: 50%;
}

.login-sns {
    font-size: 14px;
    margin-top: 15px;
}

.login-sns-btns {
    display: flex;
    justify-content: space-between;
    margin: 15px;
}

.login-sns-naver img {
    width: 25px;
    margin: 12px;
}

.login-sns-kakao img {
    width: 35px;
    margin: 8px;
}

button {
    cursor: pointer;
}

/* TermsOfService */
.tos-wrapper {
    padding: 0px 18%;
}

.tos-step img {
    height: 90px;
}

.tos-container {
    padding-top: 30px;
    width: 75%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.tos-check-all {
    display: flex;
    gap: 5px;
    border-bottom: 2px solid #DFDFDF;
    padding-bottom: 10px;
}

.tos-check-title {
    display: flex;
    gap: 5px;
    color: #6A6A6A;
}

.tos-check-title span{
    color: #D24D4D
}

.tos-check-txt {
    border: 1px solid #8D8D8D;
    text-align: left;
    padding: 5px;
}

.tos-button {
    display: flex;
    place-content: center;
    gap: 30px;
    margin: 40px 0;
}

.tos-button button {
    width: 225px;    
    height: 56px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    color: white;
    font-weight: bold;
}

.tos-button-cancle{
    background: #B1B1B1;
}

.tos-button-ok{
    background: #ED7C7C;
}

.tos-total-txt {
    margin-top: 30px;
}