.App {
  text-align: center;
  font-family: 'Noto Sans KR';
}

input {
  outline: none;
  font-family: 'Noto Sans KR';
}

button {
  border:none;
  background: none;
}

a {
  text-decoration: none;
  color: black;
}

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * { 
 font-family: 'Noto Sans KR', sans-serif;
}

.ReactModal__Content{
  padding: 0px !important;
  top: 5% !important;
  width: 50% !important;
  left: 25% !important;
}