.App {
  text-align: center;
  font-family: Noto Sans KR;
}

input {
  outline: none;
}

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * { 
 font-family: 'Noto Sans KR', sans-serif;
}